body {
     background-color: lightpink;
    text-align: center;
    font-family: Arial;
    margin-top: 50px;
}

h1 {
    color: #003566;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
